.loan-container {
   
    background-color: #e8e8e8;
    height: 600px;
    width: 80%;
    min-width: 610px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loan-form {
   position: relative;
    margin: auto;
    background-color: #cacaca;
    height:90%;
    width: 70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.amount-container,
.months-container,
.paydate-container {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:80%;
    height: 5.2em;
    margin: 10px;
  
}


.amount,
.months,
.paydate {
    height: 2.2em;
    width: 70%;
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    outline: none;
}

.months,
.paydate {
    height: 2.4em;
     width: 71%
}


.amount:focus,
.months:focus,
.paydate:focus {
    background-color: #d3d3d3;
    border: 1.8px solid rgb(134, 221, 255);
}

.amount:hover,
.months:hover,
.paydate:hover {
    background-color: #c7c7c7;
    border: 1.8px solid rgb(68, 177, 220);
}

.amount-error,
.months-error {
    height: 2.2em;
    width: 70%;
    background-color: #9b9b9b;
    border: 1px solid rgb(200, 93, 93);
    outline: none;
    box-shadow:rgb(200, 93, 93) 1px 0px 10px
}

.months-error {
    height: 2.4em;
    width: 71%
}

.amount-error:hover,
.months-error:hover {
    background-color: #c7c7c7;
    border: 1px solid rgb(200, 93, 93);  
}

.loan-label {
    position: relative;
    color:rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.7em;
    top:-2px;
}

.amount-error-text {
    display:block;
    font-size: small;
    color: rgb(200, 93, 93);
    height: 2.5em;
    width: 100%;
    text-shadow:rgb(200, 93, 93) 1px 0px 10px;
}

.loan-gel {
    
    background-color: transparent;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:22%;
    right: 16%;
    z-index: 0;
    pointer-events: none;
   


}
.go-to-client{
    position:absolute;
   right: 2%;
    bottom: 2%;
    width: 20%;
    height: 5%;
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    font-weight: bold;
  }
  
  .go-to-client:hover {
    cursor: pointer;
    background-color: #7c7c7c;
  }
  
  .go-to-client:active {
    background-color: rgb(72, 190, 233);
    box-shadow:rgb(72, 190, 233) 1px 0px 10px;
    color: black;}



